
body {
    background-color: #242320;
}

svg .street {
    stroke: white;
    stroke-width: 1px;
    fill: none;
}

svg .mapLabel {
    font-family: sans-serif;
    fill: white;
}

svg .pump {
    fill: #0f75db;
    stroke: black;
    stroke-width: 0.8;

}

svg .death {
    stroke: black;
    stroke-width: 0.3;
    r: 2.7;
}

svg .graphline {
    fill: none;
    stroke-width: 1.5px;
}

svg .deathhoverbar:hover {
    fill-opacity: .1;
}


.axis path,
.axis line {
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 7.5px;
    fill: white;
}

.caption {
    fill : white;
}





.pagetitle {
	color: white;
	font-family: 'Alice', serif;
	font-size: 24px;
	font-weight: none;
}

.pagesubtitle {
	color: white;
	font-family: 'Alice', serif;
	font-size: 15x;
}

.pagebutton {
	background-color: steelblue;
	color: white;
	font-family: 'Arial';
	font-size: 15px;
	padding: 8px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tabbutton {
  background-color: skyblue;
  font-family: 'Alice';
  font-weight: bold;
  color: white;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px;
}

/* Change background color of buttons on hover */
.tabbutton:hover {
  background-color: darkgray;
  opacity: 0.6;
}

/* Create an active/current tablink class */
.tabbutton.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

